<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="px-2 py-1"
     style="margin-top: 0.5em; border-bottom: 2px solid lightgray; ">
            <span style="display: flex;">
                <img src="images/P6_1.png" class="rounded float-start align-self-start"
                     height="40"/>
                    <span style="margin-left: auto;">
                        <a class="btn btn-link active" href="/home">Home</a>
                        <a class="btn btn-light" href="/transaction">Transfer</a>
                        <a class="btn btn-light" href="/profile">Profile</a>
                        <a class="btn btn-light" href="/contact">Contact</a>
                        <a class="btn btn-light" href="/login">Log off </a>
                    </span>
            </span>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>
<div class="container justify-content-center "
     style="margin-top: 6em; border-radius: 25px; border: 2px solid lightgray;">


    <div class="form-group">

        <form th:action="@{/contact}" method="post" th:object="${contactParams}">

            <div>
                <div class="form-group">

                    <label class="control-label" for="email"></label>
                    <select id="email" class="form-control custom-select" th:field="*{email}"
                            required autofocus="autofocus"
                            placeholder="Enter a email please ! ">
                        <option th:each="user:${availableUsers}" th:value="${user.getEmail()}"
                                th:text="${user.getEmail()}"></option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Add Connection</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <h2> My Contacts </h2>
    <div class="px-2 py-1"
         style="margin-top: 0.5em; border-bottom: 2px solid lightgray; "> </div>
    <table class="table">
        <thead class="table-success">
        <tr class="headings">
            <th class="column-title">Name</th>
            <th class="column-title">Lastname</th>
            <th class="column-title">Email</th>
            <th></th>
        </tr>
        </thead>
        <br>
        <tbody>
        <tr class="even pointer" th:each="contact:${myContacts}">
            <td class=" " th:text="${contact.getName()}">Name</td>
            <td class=" " th:text="${contact.getLastname()}">Lastname</td>
            <td class=" " th:text="${contact.getEmail()}">Email</td>
            <td><a class="btn btn-danger"
                   th:href="@{'/contact/myFriendList/' + ${userId} + '/deleteFriend/' + ${contact.getUserId()}}">x</a>
            </td>
        </tr>
        </tbody>

    </table>

    <div th:if="${param.friendDeleteSuccess}">
        <div class="alert alert-success"> You have successfully removed this friend from your list !</div>
    </div>
    <div th:if="${param.friendDeleteFailed}">
        <div class="alert alert-danger"> Oops ! Something went wong while trying to remove this friend from your
            list...
        </div>
    </div>
</div>


<footer class="mt-auto text-center">
    <p>PayMyBuddy © 2023</p>
</footer>
</div>


</body>
</html>